In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np

In [2]:
flights = pd.read_csv('../Python Folder/python-for-ds-course-master/data/flights.csv')

In [3]:
flights.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00

In [4]:
one_hot=pd.get_dummies(flights['origin'])

In [5]:
flights=flights.drop('origin', axis = 1)

In [6]:
flights=flights.join(one_hot)

In [7]:
flights=flights.dropna(how='any', subset= ['EWR', 'JFK', 'LGA', 'sched_dep_time', 'dep_delay'])

In [8]:
flights.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,tailnum,dest,air_time,distance,hour,minute,time_hour,EWR,JFK,LGA
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,...,N14228,IAH,227.0,1400,5,15,2013-01-01 05:00:00,1,0,0
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,...,N24211,IAH,227.0,1416,5,29,2013-01-01 05:00:00,0,0,1
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,...,N619AA,MIA,160.0,1089,5,40,2013-01-01 05:00:00,0,1,0
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,...,N804JB,BQN,183.0,1576,5,45,2013-01-01 05:00:00,0,1,0
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,...,N668DN,ATL,116.0,762,6,0,2013-01-01 06:00:00,0,0,1

# Split into X and y

In [9]:
feature_cols = ['EWR', 'JFK', 'LGA', 'sched_dep_time']
target_col = 'dep_delay'
X = flights[feature_cols]
y = flights[target_col]

# Split into train and test

In [10]:
from sklearn.model_selection import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, random_state=1026)

# Set up the model

In [11]:
from sklearn.linear_model import LinearRegression
modelLinear = LinearRegression(fit_intercept=True)
modelLinear

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:
from sklearn import tree
modelTree = tree.DecisionTreeClassifier(class_weight = None, 
                criterion='gini', max_depth=None, max_features=None,
                min_samples_leaf=1,min_samples_split=2, 
                min_weight_fraction_leaf=0.0,presort=False, 
                random_state=None, splitter='best')

# Train the model

In [20]:
modelLinear.fit(Xtrain, ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [21]:
modelTree.fit(Xtrain,ytrain)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [22]:
modelLinear.coef_, modelLinear.intercept_

(array([ 2.96981805, -1.39660961, -1.57320844,  0.01721531]),
 -10.59675697609356)

# Test the model

In [14]:
modelLinear.score(Xtest, ytest)

0.043310779059564264

In [23]:
y_predicttree = modelTree.predict(Xtest)

In [24]:
from sklearn.metrics import accuracy_score

In [25]:
accuracy_score(ytest,y_predicttree)

0.07534304951845223

Neither the linear model nor the decision tree classifier performed well using the features 'EWR', 'JFK', 'LGA', 'sched_dep_time'to predict departure delay